<div class="hello">
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Soaring to new heights</h1>
        <div class="is-two-thirds column is-paddingless">
          <h2 class="subtitle is-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
        </div>
        <a class="button is-large is-primary">Learn more</a>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns pd is-desktop">
        <div class="column is-1 has-text-centered">
          <i class="fa fa-cog is-primary"></i>
        </div>
        <div class="column is-one-third-desktop">
          <p class="title">
            <strong>We provide superiod logistics so that your business can succeed in a crazy world</strong>
          </p>
        </div>
        <div class="column">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate nunc eget tristique
            porttitor. Sed eu faucibus justo, lobortis posuere lacus. Nulla venenatis magna quis felis lacinia, eu
            sagittis sem laoreet.
          </p>
        </div>

      </div>
    </div>
    <div class="columns pd">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title">
              "Praesent viverra quam nec velit commodo ultrices. Morbi tempor a velit sit amet porta. Donec non velit vulputate, pellentesque dui sed, cursus elit."
            </p>
            <p class="subtitle">
              - Lorem Ipsum
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title">
              "Praesent viverra quam nec velit commodo ultrices. Morbi tempor a velit sit amet porta. Donec non velit vulputate, pellentesque dui sed, cursus elit."
            </p>
            <p class="subtitle">
              - Lorem Ipsum
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title">
              "Praesent viverra quam nec velit commodo ultrices. Morbi tempor a velit sit amet porta. Donec non velit vulputate, pellentesque dui sed, cursus elit."
            </p>
            <p class="subtitle">
              - Lorem Ipsum
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
